/**
 * settings/_global.scss
 */

/* ==========================================================================
   Global settings
   ========================================================================== */

:root {
  --global-font-size: 16px;
  --global-width: 1140px;
  --global-lineheight: 1.6;
  --primary-color: #333;
  --secondary-color: #444;
  --success-color: #3adb76;
  --warning-color: #ffae00;
  --alert-color: #ec5840;
  --light-gray: #e6e6e6;
  --medium-gray: #cacaca;
  --dark-gray: #8a8a8a;
  --black: #0a0a0a;
  --white: #fefefe;
  --body-background: var(--white);
  --body-font-color: var(--black);
  --selection-background: var(--black);
  --selection-color: var(--white);
  --body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  --global-margin: 1rem;
  --global-padding: 1rem;
  --global-weight-normal: normal;
  --global-weight-bold: bold;
  --global-radius: 0;
  --global-text-direction: ltr;
}

/* Testing autoprefixer */
.autoprefixer {
  display: flex;
}

/* Testing cssnext */
.cssnext {
  width: var(--global-width);
  line-height: var(--global-lineheight);
  background: color(red alpha(-10%));
}
