# Gulp Boilerplate
# https://github.com/neutraltone/gulp-boilerplate/
# @author Tony Phipps

## Gulp Boilerplate
critical.min.css
critical.min.css.map
main.min.css
main.min.css.map
scripts.min.js
scripts.min.js.map
modernizr-build.min.js

## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

## Sass
.sass-cache

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
