/**
 * settings/_base.scss
 */

/* ==========================================================================
   Base variable settings
   ========================================================================== */

/**
 * High level base settings
 */

// Asset urls
$base-font-url: '../fonts/';
$base-image-url: '../img/';

// Typography
$base-font-size: 16px;
$base-line-height: 24px;
$base-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Spacing and container
$base-spacing-unit: 1.5rem;
$base-gutter: $base-spacing-unit;
$base-container-width: 1280px;
$base-container-gutter: $base-spacing-unit;

// Animation
$base-anim-duration: 300ms;
$base-anim-easing: cubic-bezier(0.16, 0.68, 0.43, 0.99);
$base-anim-easing-alt: cubic-bezier(0.175, 0.885, 0.32, 1.275);


/**
 * Typography
 */

$font-primary: $base-font;
$font-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
