/**
 * settings/_colors.scss
 */

/* ==========================================================================
   Color variable settings
   ========================================================================== */

/**
 * Color Palette
 */

$colors: (
  // Base text colors
  text: (
    dark: #333,
    light: #fff
  ),

  // Base background colors
  background: (
    dark: #333,
    light: #fff
  ),

  // Black and white
  bw: (
    black: #000,
    white: #fff
  ),

  // Brand colors
  brand: (
    primary:    #fff,
    secondary:  #fff,
    tertiary:   #fff,
    quaternary: #fff
  ),

  // Social colors
  social: (
    facebook:    #365397,
    twitter:     #00a9f1,
    linkedin:    #006db3,
    apple:       #737373,
    google:      #4285f4,
    google-plus: #e0452c,
    youtube:     #f33,
    vimeo:       #48b6ed,
    pinterest:   #ce1a19,
    yelp:        #c30f00,
    dribbble:    #ed4584,
    amazon:      #ff9700,
    ebay:        #083790,
    skype:       #00acf4,
    instagram:   #396d9a,
    dropbox:     #0d84de,
    flickr:      #ea0066,
    github:      #2f2f2f,
    basecamp:    #6bbd6d,
    tumblr:      #304c68,
    foursquare:  #207dc5,
    box:         #1277bc
  )
);
