/**
 * trumps/_clearfix.scss
 */

/* ==========================================================================
   Clearfix
   ========================================================================== */

/**
 * Clearfixes - @extend %clearfix to prevent class="clearfix" appearing all the time
 */

%clearfix,
.clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
