/**
 * tools/_triangle.scss
 */

/* ==========================================================================
   Triangle
   ========================================================================== */

/**
 * A simple mixin for generating CSS triangles using border.
 *
 * @param {Direction} $direction - Triangle direction, either `top`, `right`,
 *   `bottom` or `left`.
 * @param {Color} $color [currentcolor] - Triangle color.
 * @param {Width} $width [1em] - Triangle width.
 * @param {Height} $height [1em] - Triangle height.
 *
 * Usage:
 *
 * .triangle {
 *   @include triangle(bottom, #fff, 2em, 2em);
 * }
 */

@mixin triangle($direction: up, $color: currentColor, $width: 1rem, $height: ($width / 2)) {
  @if not index("up" "up-right" "right" "down-right" "down" "down-left" "left" "up-left", $direction) {
    @error "Direction must be `up`, `up-right`, `right`, `down-right`, " + "`down`, `down-left`, `left` or `up-left`.";
  }

  @else if not _is-color($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in " + "the `triangle` mixin.";
  }

  @else {
    border-style: solid;
    width: 0;
    height: 0;

    @if $direction == "up" {
      border-width: 0 ($width / 2) $height;
      border-color: transparent transparent $color;
    }

    @else if $direction == "up-right" {
      border-width: 0 $width $width 0;
      border-color: transparent $color transparent transparent;
    }

    @else if $direction == "right" {
      border-width: ($height / 2) 0 ($height / 2) $width;
      border-color: transparent transparent transparent $color;
    }

    @else if $direction == "down-right" {
      border-width: 0 0 $width $width;
      border-color: transparent transparent $color;
    }

    @else if $direction == "down" {
      border-width: $height ($width / 2) 0;
      border-color: $color transparent transparent;
    }

    @else if $direction == "down-left" {
      border-width: $width 0 0 $width;
      border-color: transparent transparent transparent $color;
    }

    @else if $direction == "left" {
      border-width: ($height / 2) $width ($height / 2) 0;
      border-color: transparent $color transparent transparent;
    }

    @else if $direction == "up-left" {
      border-width: $width $width 0 0;
      border-color: $color transparent transparent;
    }
  }
}
